@tailwind base;
@tailwind components;
@tailwind utilities;


/* CSS art inspired by Coding Artist for "Night Sky CSS Animation" */
.moon:before {
  @apply content-[""] absolute bg-[#ebefe7] h-[0.62em] w-[0.62em] top-[0.5em] left-[0.37em] rounded-[50%];
}
.moon:after {
  @apply content-[""] absolute bg-[#B2BEB5] h-[0.43em] w-[0.43em] top-[1.25em] left-[0.75em] rounded-[50%];
}

.star,
.star:before,
.star:after {
  @apply h-[0.18em] w-[0.18em] bg-[#ffffff] absolute opacity-[0.3] rounded-[50%] animate-[twinkle_5s_infinite];
}

.mountain:before {
  @apply content-[''] absolute h-[5em] w-[8.75em] bg-[#0C0404] left-[3.12em] bottom-[1.25em] transform rotate-[-90deg];
}
.mountain:after {
  @apply content-[''] absolute h-[6.25em] w-[11em] bg-[#0C0404] left-[4.4em] bottom-[-6.7em] transform rotate-[20deg];
}

.windmill:after {
  @apply content-[""] absolute bg-[#041524] h-[0.62em] w-[1.18em] bottom-[-0.06em] rounded-windmill;
}
.windmill:before {
  @apply content-[""] absolute h-0 w-[1.35em] right-[-0.1em] top-[0.06em] border-solid border-b-[#0b2231] border-b-[0.37em] border-l-[0.06em] border-r-[0.06em] border-l-transparent border-r-transparent;
}

.light:before {
  @apply content-[""] absolute bg-[#000000] h-[0.5em] w-[0.5em] bottom-[-1.34em] left-[-0.12em] rounded-light;
}

.blades:before {
  @apply content-[""] h-[100%] absolute w-[0.5em] bg-[#041524] left-[1.62em];
}
.blades:after {
  @apply content-[""] h-[100%] absolute w-[0.5em] bg-[#041524] left-[1.62em] transform rotate-[90deg];
}

.tree:before {
  @apply content-[""] absolute left-[0.18em] border-solid border-b-[1.96em] border-l-[0.38em] border-r-[0.38em] border-b-[#041524] border-l-transparent border-r-transparent;
  background-origin: -9.18em;
}

/* Moving Car Section */
.mountain-car {
  @apply absolute right-[-900px] bottom-[-20px] w-[2px] h-[2px] transform rotate-[130deg] shadow-mountainint;
  animation: mtn 10s linear infinite;
}

.wind:before {
  @apply content-[""] absolute w-[25px] shadow-wind;
  animation: wind 1.5s 0.000s ease infinite;
}

@keyframes wind {
  50% { transform: translateY(5px) }
}

@keyframes mtn {
  100% {
    transform: translateX(-2000px) rotate(130deg);
  }
}

@layer base {
  /* Base Styling */
  * { @apply box-border p-0 m-0; }
  body { @apply text-[#878e99] leading-6 bg-tertiary; }

  /* Section Tag Styling */
  .section { @apply py-12 lg:py-32;}
  .section-title { @apply text-3xl lg:text-4xl font-medium lg:font-extrabold mb-5; }
  .subtitle { @apply text-base text-[#878e99] mb-16 lg:mb-24 max-w-[520px]; }
}

@layer components {
  /* Button Styling */
  .btn-md { @apply h-[48px]; }
  .btn-lg { @apply h-[54px]; }
  .btn { 
    @apply relative flex items-center justify-start py-4 px-7 font-medium overflow-hidden text-white rounded-sm transition-all bg-accent hover:bg-accent; 
  }

  /* Input Styling */
  .input { 
    @apply bg-secondary text-paragraph h-[60px] outline-none pl-6 w-full text-[15px] rounded-sm focus:outline focus:outline-1 focus:outline-accent; 
  }

  /* Underline Effect */
  .underline-effect { @apply relative; }
  .underline-effect:before {
    @apply content-[""] absolute bottom-0 left-0 right-0 block w-[97%] h-[2px] bg-accent-hover transform scale-x-[0%];
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transform-origin: 100% 0;
  }
  .underline-effect:hover:before {
    transform: scaleX(100%);
    transform-origin: 0 0;
  }
}

@layer utilities {
  /* Title Styling */
  h1, h2, h3, h4, h5, h6 {
    @apply text-white font-[#050402];
  }
}